################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Taberna/v16
/bin/Debug-windows-x86_64
/bin-int/Debug-windows-x86_64
